body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg, blue, red);
}
.Tela-login{
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 90px;
    border-radius: 50px;
    color: white;
    text-align: center;
}
input{
    padding: 10px;
    border: none;
    outline: none;
    font-size: 15px;
}
button{
    background-color: dodgerblue;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 15px;
    color :white;
    font-size: 15px;
    cursor: pointer;
}
button:hover{
    background-color: darkred;
}
